version: '2'

services:
  cloud_relay:
      build: ./relay
      image: cloud_relay
      labels:
        - "swarm=dev"
        - "role=relay"
      ports:
        - 1883
      networks:
        - net-a
      environment:
        - ORG_ID
        - RELAY_API_KEY
        - RELAY_ID
        - RELAY_AUTH_TOKEN
      tty: true

  gateway_a:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=gateway"
    ports: 
      - 1883
    networks:
      - net-a
    environment:
      - ORG_ID
      - DEVICE_TYPE=${DEVICE_TYPE}
      - DEVICE_ID=${DEVICE_ID_A}
      - AUTH_TOKEN=${AUTH_TOKEN_A}
      - SENTINEL_DEFAULT_NETWORK=net-a
    hostname: "sentinel_gateway_a_1"
    tty: true

  gateway_b:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=gateway"
    ports: 
      - 1883
    networks:
      - net-b
    environment:
      - ORG_ID
      - DEVICE_TYPE=${DEVICE_TYPE}
      - DEVICE_ID=${DEVICE_ID_B}
      - AUTH_TOKEN=${AUTH_TOKEN_B}
      - SENTINEL_DEFAULT_NETWORK=net-b
    hostname: "sentinel_gateway_b_1"
    tty: true

  device_a:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=device"
    ports: 
      - 1883
    networks:
      - net-a
    environment:
      - SENTINEL_DEFAULT_GATEWAY=sentinel_gateway_a_1
      - SENTINEL_DEFAULT_NETWORK=net-a
    depends_on:
      - gateway_a
    tty: true

  device_b:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=device"
    ports: 
      - 1883
    networks:
      - net-b
    environment:
      - SENTINEL_DEFAULT_GATEWAY=sentinel_gateway_b_1
      - SENTINEL_DEFAULT_NETWORK=net-b
    depends_on:
      - gateway_b
    tty: true

networks:
  net-a:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.1.0/24
  net-b:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.2.0/24