version: '2'

services:
  gateway:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=gateway"
    ports: 
      - 1883
    networks:
      - net-a
      - net-b
    environment:
      - SENTINEL_NETWORK=global
    tty: true

  device_a:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=device"
    ports: 
      - 1883
    networks:
      - net-a
    environment:
      - SENTINEL_GATEWAY=sentinel_gateway_1
      - SENTINEL_NETWORK=net-a
    depends_on:
      - gateway
    tty: true

  device_b:
    build: .
    image: sentinel
    labels:
      - "swarm=dev"
      - "role=device"
    ports: 
      - 1883
    networks:
      - net-b
    environment:
      - SENTINEL_GATEWAY=sentinel_gateway_1
      - SENTINEL_NETWORK=net-b
    depends_on:
      - gateway
    tty: true

  # test:
  #   build: test
  #   image: sentinel-test
  #   networks:
  #     - net-a
  #     - net-b
  #   depends_on:
  #     - gateway
  #     - device_a
  #     - device_b
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   tty: true

networks:
  net-a:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.1.0/24
  net-b:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.2.0/24